:root {
    --main-color: #5FCF80;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
    /* background-color:var(--bg-main-color); */
    font-family: 'Roboto', sans-serif;
}

.text-main-color {
    color: var(--main-color) !important;
}

header {
    height: 300px;
    background-image: url('/assets/images/board-chalk-chalkboard-459793.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    color: #fff !important;
    position: relative;
    margin-top: 58px;
}

header>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header .overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.table thead tr th{
    white-space: nowrap;
}
.table tbody tr td:last-child {
    white-space: nowrap;
}

.btn-custom {
    color: #fff;
    font-size: 1em;
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color) !important;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
}

@media(max-width: 1000px){
    .table tr td, .table tr th{
        padding: 10px;
        font-size: 0.9em;
    }
    .table tbody tr td:last-child .btn{
        font-size: 0.9em;
    }
}

@media(max-width: 700px){
    .table tr td, .table tr th{
        padding: 5px;
        font-size: 0.9em;
        border: 1px solid #ccc;
    }
}