:root {
  --main-color: #5FCF80;
}

body {
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* background-color:var(--bg-main-color); */
  font-family: 'Roboto', sans-serif;
  /* padding-top: 50px; */
}

.bg-login-gradient-body{
  background: #16222A!important;  
  background: -webkit-linear-gradient(to right, #3A6073, #16222A)!important;  
  background: linear-gradient(to right, #3A6073, #16222A)!important; 
}

.bg-register-gradient-body{
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-control:focus{
  box-shadow: none;
  border: 1px solid green;
}

.text-main-color {
  color: var(--main-color) !important;
}

.navbar{
  margin-bottom: 50px;
}

.navbar .btn-custom {
  color: #fff;
  font-size: 1em;
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color) !important;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 10px;
}

@media (max-width: 992px) {  
  .navbar .btn-custom {
      margin-left: 0px;
      margin-bottom: 10px;
  }
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: var(--main-color);
  box-shadow: none;
  border: none;
  outline: none;
  color: #fff !important;
}

.scrollTop{
  position: fixed;
  left: 40px;
  bottom: 40px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: lightseagreen;
  font-size: 1.6em;
  color: #fff;
}